<!DOCTYPE html>
<html lang="en" xmlns:th = "http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1" />
<title>Company Registration</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous"/>
<link rel="stylesheet" href="styles.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>

<style type="text/css">
.myTableClass{
	position:relative;
	top:150px;
}
.heading {
	position:relative;
	top:100px;
}
.buttons{
	position:relative;
	top:100px;
}
</style>
</head>
<body>




	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Subgroup Registration</a>
			</div>
		</div>
	</nav>
	
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<h1 class= "heading" >Formula Variables Registration</h1>
					
					<table class="table table-hover myTableClass">
					  <thead>
					    <tr>
					      <th scope="col">N</th>
					      <th scope="col">Variable Sign</th>
					      <th scope="col">Update</th>
					      <th scope="col">Delete</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr th:each = "variableDTO : ${variableDTOList}">
					     	<th scope="row" th:text = "${variableDTOList.indexOf(variableDTO)}"></th>
					     	<td th:text = "${variableDTO.getVariable_sign()}"></td>
					     	<td>
					     		<div class="form-group">
									<a class="btn btn-success" th:href="@{/UpadateVariablesFromList/{id}(id = ${variableDTOList.indexOf(variableDTO)})}">Update</a>
								</div>
							</td>
					     	<td>
					     		<div class="form-group">
					     			
					     			<a class="btn btn-success" th:href = "@{/DeleteVariableFromList/{id}(id = ${variableDTOList.indexOf(variableDTO)})}">Delete</a>
									
								</div>
					     	</td>
					     	
					    </tr>
					  </tbody>
					</table>
					<br>
					<br>
					<br>
					<br>
					<div class="buttons">
						<a class="btn btn-success" th:href = "@{/BackToFormulaRegistration}">Back</a>
						<a class="btn btn-success" th:href = "@{/VariableRegistration}">Add Variable</a>
						
						<br>
						<br>
						<br>
						<br>
						<br>
						
						<form th:action="@{/CreateCriteria}" method="post">
							<button type="submit" class="btn btn-success">Create Criteria</button>
					
						</form>
		
					</div>
				</div>
		</div>
		</div>
		
	
	
					
</body>
</html>