<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1" name="viewport"
	content="width=device-width, initial-scale=1" />
<title>Criterias Results</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />
<link rel="stylesheet" href="styles.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
<style type="text/css">
.domActTableCol {
	height: 80px;
	width: 500px;
}

.thirdRow {
	height: 60px;
}

.container {
	margin-left: 2%;
	margin-right: 2%;
	align-content: center;
}

@media ( max-width :1000px) {
	.domActTableCol {
		height: 120px;
	}
}
</style>

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Criteria
					Evaluation Result</a>
			</div>
		</div>
	</nav>


	<br>
	<br>
	<!-- Create HTML registration form -->
	<div class="container" style="padding-top: 50px">

		<div class="row">
			<div>
				<div style="display: flex; flex-direction: row;"
					th:each="emplCalcDom : ${mapOfEmployeeCalcDomact.entrySet()}">

					<div>
						<table class="table table-bordered">

							<tr class=row>
								<td colspan="2" class="domActTableCol"></td>
							</tr>
							<tr class=row>
								<td><p>Name/Surname</p></td>
								<td><p>Position</p></td>

							</tr>
							<tr class=row>
								<td class="thirdRow"
									th:text="${emplCalcDom.getKey().getName() + ' ' + emplCalcDom.getKey().getSurname()}"></td>
								<td class="thirdRow"
									th:text="${emplCalcDom.getKey().getPosition().getName()}"></td>
							</tr>
						</table>
					</div>

					<div th:each="calcDom : ${emplCalcDom.getValue()}">


						<table class="table table-bordered">

							<tr class=row>
								<td colspan="2" class="domActTableCol"
									th:text="${calcDom.getDomact().getDomact_name()}"></td>
							</tr>
							<tr class=row>
								<td><p>puncte</p></td>
								<td><p>calificat</p></td>

							</tr>
							<tr class=row>
								<td class="thirdRow" th:text="${calcDom.getCalculated_value()}"></td>
								<td class="thirdRow"
									th:text="${calcDom.getCalculated_calificat()}"></td>
							</tr>
						</table>
					</div>
					<div>
						<table class="table table-bordered">

							<tr class=row>
								<td class="domActTableCol">Punctaj Final</td>
							</tr>
							<tr class=row>
								<td><p>(1-4)</p></td>


							</tr>
							<tr class=row>
								<td class="thirdRow"
									th:text="${mapOfEmployeesFinalResults.get(emplCalcDom.getKey())}"></td>
							</tr>
						</table>
					</div>
				</div>

			</div>

		</div>


		<form th:action="@{/}" th:method="post">

			<a th:href="@{/selectDateForAllResults}" class="btn btn-success">Back</a> <a
				th:href="@{/AllCriteriaResultByDateWordFileGenerate}"
				class="btn btn-success">Generate</a>
		</form>
	</div>


</body>
</html>