<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1" name="viewport"
	content="width=device-width, initial-scale=1" />
<title>Criteria Registration</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />
<link rel="stylesheet" href="styles.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />


</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Criteria
					Evaluation Result</a>
			</div>
		</div>
	</nav>


	<br>
	<br>
	<!-- Create HTML registration form -->
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3"
				th:each="domactResultEntry : ${mapOfDomactResults.entrySet()}">
				<!-- success message -->
				<h1 th:text="${domactResultEntry.getKey().getDomact_name()}"></h1>
				<table class="table table-image">
					<thead>
						<tr>
							<th scope="col">Indicateor</th>
							<th scope="col">Indicator Name</th>
							<th scope="col">Punctaj</th>
						</tr>

					</thead>
					<tbody>
						<tr
							th:each="criteriaResultEntry : ${mapOfCriteriaResults.get(domactResultEntry.getKey()).entrySet()}">
							<td th:text="${criteriaResultEntry.getKey().getCriteria_name()}"></td>
							<td>
								<p th:text="${criteriaResultEntry.getKey().getCriteria_descr()}"></p>
								<br>


								<div th:each="insertedValuesDTO : ${mapOfCriteriaVars.get(criteriaResultEntry.getKey())}">
									<p th:if="${insertedValuesDTO.getIndex() == null}"
										th:text="${insertedValuesDTO.getVariable().getVariable_sign() + ': ' + insertedValuesDTO.getVariable().getVariable_descr()}"></p>
									<p th:if="${insertedValuesDTO.getIndex() != null}"
										th:text="${insertedValuesDTO.getVariable().getVariable_sign() + '' +insertedValuesDTO.getIndex() + '' + ': ' + insertedValuesDTO.getVariable().getVariable_descr()}"></p>
									<br>
									<p
										th:text="${'Inserted value :' + insertedValuesDTO.getInserted_value()}"></p>
									<br>
									<p th:text="${'Comment :' + insertedValuesDTO.getComment()}"></p>
								</div>


							</td>
							<td th:text="${criteriaResultEntry.getValue()}"></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td th:text="${domactResultEntry.getValue()}"></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td
								th:text="${domactResultEntry.getValue() / normaStiintificaDTO.getValue()}"></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td
								th:text="${domactCalificationResult.get(domactResultEntry.getKey()).getCalificat_symbol()}"></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</body>
</html>