<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1" name="viewport"
	content="width=device-width, initial-scale=1" />
<title>Teza de licenta Project</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />
<link rel="stylesheet" href="styles.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
<style type="text/css">
.domActTableCol {
	height: 80px;
	width: 500px;
}

@media ( max-width :640px) {
	.domActTableCol {
		height: 120px;
	}
}
</style>

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Main menu</a>

			</div>
		</div>
	</nav>


	<br>
	<br>
	<!-- Create HTML registration form -->
	<div class="container" style="padding-top: 50px">
		<div th:if="${isItUpdate}">
			<p style="color: red; font-size: 50px">ATTENTION YOU ARE CHANGE
				DATA ALREADY INSERTED</p>
		</div>
		<div class="row">
			<table class="table table-bordered">
				<tr class=row>
					<td align="center"><b
						th:text="${'Cadrul didactic: ' + employee.getName() + ' ' + employee.getSurname}"></b></td>
				</tr>
				<tr class=row>
					<td align="center">Angajat pe: <b
						th:text="${normaStiintificaDTO.getValue()}"></b> norma didactica
					</td>
				</tr>
			</table>
		</div>
		<div class="row">
			<div>
				<table class="table table-bordered">
					<tr class=row>
						<td align="center"><b>Position:</b></td>
					</tr>
					<tr class=row>
						<td align="center" th:text="${employee.getPosition().getName()}"></td>
					</tr>
				</table>
				<div style="display: flex; flex-direction: row;">
					<div th:each="domactResultEntry : ${mapOfDomactResults.entrySet()}">
						<table class="table table-bordered">

							<tr class=row>
								<td colspan="2" class="domActTableCol"
									th:text="${domactResultEntry.getKey().getDomact_name()}"></td>
							</tr>
							<tr class=row>
								<td><p>puncte</p></td>
								<td><p>calificat</p></td>

							</tr>
							<tr class=row>
								<td
									th:text="${ Math.round((domactResultEntry.getValue() / normaStiintificaDTO.getValue())*100)/100.0}"></td>
								<td
									th:text="${domactCalificationResult.get(domactResultEntry.getKey()).getCalificat_symbol()}"></td>
							</tr>
						</table>
					</div>
				</div>
				<table class="table table-bordered">
					<tr class=row>
						<td align="center"><b>Final Result:</b></td>
					</tr>
					<tr class=row>
						<td align="center" th:text="${finalResult}"
							style="font-size: 300%"></td>
					</tr>
				</table>
			</div>

		</div>
		<div class="form-group">
			<form th:action="@{/CriteriaEvaluationResult}" th:method="post">

				<a th:href="@{/CriteriaSelectionForInsert}" class="btn btn-success">Back</a>
				<button type="submit" class="btn btn-success">Submit</button>
			</form>
		</div>
		<div class="row" style="display: flex; flex-direction: column;">
			<div th:each="domactResultEntry : ${mapOfDomactResults.entrySet()}">
				<!-- success message -->
				<h1 th:text="${domactResultEntry.getKey().getDomact_name()}"></h1>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col">Indicatori</th>
							<th scope="col">Indicator Name</th>
							<th scope="col">Punctaj</th>
						</tr>

					</thead>
					<tbody>
						<tr
							th:each="criteriaResultEntry : ${mapOfCriteriaResults.get(domactResultEntry.getKey()).entrySet()}">
							<td th:text="${criteriaResultEntry.getKey().getCriteria_name()}"></td>
							<td>
								<p th:text="${criteriaResultEntry.getKey().getCriteria_descr()}"></p>
								<br>


								<div
									th:each="insertedValuesDTO : ${mapOfCriteriaVars.get(criteriaResultEntry.getKey())}">
									<p th:if="${insertedValuesDTO.getIndex() == null}"
										th:text="${insertedValuesDTO.getVariable().getVariable_sign() + ': ' + insertedValuesDTO.getVariable().getVariable_descr()}"></p>
									<p th:if="${insertedValuesDTO.getIndex() != null}"
										th:text="${insertedValuesDTO.getVariable().getVariable_sign() + '' +insertedValuesDTO.getIndex() + '' + ': ' + insertedValuesDTO.getVariable().getVariable_descr()}"></p>
									<br>
									<p
										th:text="${'Inserted value :' + insertedValuesDTO.getInserted_value()}"></p>
									<br>
									<p th:text="${'Comment :' + insertedValuesDTO.getComment()}"></p>
								</div>


							</td>
							<td th:text="${criteriaResultEntry.getValue()}"></td>
						</tr>
						<tr>
							<td></td>
							<td align="right"><b>Suma puncte</b></td>
							<td th:text="${domactResultEntry.getValue()}"></td>
						</tr>
						<tr>
							<td></td>
							<td align="right"><b>Total puncte</b></td>
							<td
								th:text="${domactResultEntry.getValue() / normaStiintificaDTO.getValue()}"></td>
						</tr>

					</tbody>
				</table>

			</div>
		</div>


	</div>


</body>
</html>