<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1" name="viewport"
	content="width=device-width, initial-scale=1" />
<title>Teza de licenta Project</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />
<link rel="stylesheet" href="styles.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />


</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Main menu</a>

			</div>
		</div>
	</nav>


	<br>
	<br>
	<!-- Create HTML registration form -->
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<!-- success message -->


				<h1>Variable Value Registration</h1>
				<h3 th:if = "${insertedVariableDTO.getIndex() != null}"
					th:text="${'Name: ' + insertedVariableDTO.getVariable().getVariable_sign() + insertedVariableDTO.getIndex()}"></h3>
				<h3 th:if = "${insertedVariableDTO.getIndex() == null}"
					th:text="${'Name: ' + insertedVariableDTO.getVariable().getVariable_sign()}"></h3>
				<h3
					th:text="${'Descr: '+insertedVariableDTO.getVariable().getVariable_descr()}"></h3>
				<h3
					th:text="${'Restrictions: ' +insertedVariableDTO.getVariable().getRestrictions()}"
					th:if="${!insertedVariableDTO.getVariable().getRestrictions().equals('null')}"></h3>
				<h3
					th:if="${!errorRestrictions.isBlank() && !errorRestrictions.isEmpty()}"
					th:text="${errorRestrictions}" style="color: red;"></h3>
				<form th:action="@{${postURL}}" th:method="post"
					th:object="${insertedVariableDTO}">
					<div class="form-group">
						<label class="control-label" for="Value"> Variable Value </label>
						<input id="Value" class="form-control" type ="number" min="0" step = "any"
							th:field="*{inserted_value}" required autofocus="autofocus" />
					</div>
					<div class="form-group">
						<label class="control-label" for="comment"> User Comment </label>
						<textarea id="comment" class="form-control" th:field="*{comment}"
							required autofocus="autofocus"></textarea>

					</div>


					<div class="form-group">

						<a class="btn btn-success" th:href="@{${backURL}}">Back</a>
						<button type="submit" class="btn btn-success">Enter</button>

					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>